body{
  color: #40514E;
  margin: 0;
  text-align: center;
}

.divtop1 {
  background-color: #78DEC7;
  position: relative;
  padding-top: 150px;
}

.top-bird1 {
  position: absolute;
  right: 300px;
  top: 0;
}

.bottom-bird1 {
  position: absolute;
  left: 300px;
  bottom: 250px;
}

@media (max-width: 1024px) {



  .top-bird1 {
    position: absolute;
    right: 0;
    top: 0;
  }

  .bottom-bird1 {
    position: absolute;
    left: 0;
    top: 0;
  }

  .divtop1 {

    padding-top: 0;
    margin: 0;
  }

}


/*
.bottom-bird1{
  position: absolute;
  top: 0;
  right: 70%;
  bottom: 0;
  left: 0;
}

.top-bird1{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70%;
}*/
